body{
  margin: 10px 20%;
}

.new-word-grid{
  background-color: rgb(240, 240, 240);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border: 3px #666 solid;
  border-radius: 10px;
  margin: 10px 0px;
}

.word-selection-container{
  display: block;
  margin: 0 auto;
  padding-bottom: 50px;
}

.new-word-grid > input {
  padding: 10px;
  margin: 10px 5px;
  font-size: 12pt;
  width:95%;
}

.word-grid-controls{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

button {
  display: block;
  border-radius: 4px;
  width:20%;
  padding: 6px 16px;
  font-size: 22px;
  background: #555;
  color: #eee;
  border: none;
}

.submit-button{
  background-color: #008CBA;
}

.cancel-button{
  background-color: #C22924;
}

a {
  display: block;
  border-radius: 4px;
  width:20%;
  padding: 6px 16px;
  font-size: 22px;
  background: #ccd;
  color: #fff;
  border: none;
}
