.history-area{
    background-color: rgb(230, 240, 240);
    border: 8px solid rgb(127, 127, 0);
    overflow: scroll;
    height: 50vh;
}

.clue-word{
  font-variant: small-caps;
}

.clue-number{
  font-variant: small-caps;
}

.agent-name{
  font-variant: small-caps;
}

.turn_number{
  padding-top: 1em;
  padding-bottom: 0.3em;
  font-weight: bold;
  text-decoration: underline;
}

.too-many-turns {
  color: red;
}

.history-container{
  margin: 0 1ex;
}
